.menuSection {
  padding: 0 125px;
  padding-bottom: 120px;
  background-color: #ffffff;
}



.sectionHeader {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.heading {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 8px;
  color: #414343;
  font-family: var(--font-montserrat);
}

.subtext {
  font-size: 16px;
  font-weight: 400;
  color: #818686;
  line-height: 1.4;
  font-family: var(--font-raleway);
  max-width: 747px;
}

.viewMenu {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  color: #C4754E;
  text-decoration: none; 
}
.arrowBox {
  width: 30px;
  height: 29px;
  border: 1px solid #C4754E;
  display: flex;
  align-items: center;
  justify-content: center;
}



.menuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 30px;
}



.card {
  background: #f2f2f2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}



.imageWrapper {
  width: 100%;
  height: 507px;
  overflow: hidden;

  transition: transform 0.45s ease;
}


.card:hover .imageWrapper {
  transform: scale(1.08);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.cardTitle {
  background: #F5F5F5;
  padding: 18px 0px 19px 20px;
  font-family: var(--font-montserrat);
  font-size: 22px;
  font-weight: 600;
  color: #414343;
  
}







@media (max-width: 1200px) {
  .menuSection {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    
  }
  .card:active .imageWrapper {
  transform: scale(1.05);
}

}

@media (max-width: 1024px) {
  .menuGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sectionHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .imageWrapper {
    height: 420px;
  }
}

@media (max-width: 600px) {
  .menuGrid {
    grid-template-columns: 1fr;
  }

  .subtext {
    font-size: 12px;
    line-height: 1.6;
  }

  .menuSection {
    padding-left: 20px;
    padding-right: 20px;
  }

  .imageWrapper {
    height: 320px;
  }
}

.mobileArrow {
  display: none; 
}


@media (max-width: 600px) {
  .viewMenu {
    display: none !important; 
  }
.menuSection {
  padding: 80px 24px;
}
  .menuGrid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .imageWrapper {
    height: 180px; 
  }

  .cardTitle {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 12px 15px;
    font-size: 14px;
    background-color: #F5F5F5;
    font-weight: 600;
    color: #414343;
  }

  .mobileArrow {
    display: block; 
    width: 16px;
    height: 16px;
    color: #414343;
  }
}