
.sectionContainer {
  width: 100%;
  display: flex;
padding-left: 125px;
padding-right: 125px;
  padding-top: 120px;
  padding-bottom: 120px; 
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden; 
}

.layoutWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: flex-end; 
}

.textStack {
  flex: 0 1 450px; 
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0; 
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #414343;
  font-family: var(--font-montserrat);
  line-height: 1.2;
}

.description {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-raleway);
  font-weight: 400;
  line-height: 1.3;
  color: #818686;
 
  max-width: 100%; 
}

.button {
  background-color: #c47b56;
  color: white;
  border: none;
  width: fit-content;
  margin-top: 24px; 
  font-size: 16px;
  font-family: var(--font-raleway);
  padding: 12px 40px;
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.2s;
}

.imageFlexContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  gap: 16px; 
  flex-shrink: 0; 
}

.imgSmall {
  width: 260px;
  height: 307px; 
  object-fit: cover;
  display: block;
}

.imgTall {
  width: 260px; 
  height: 480px;
  object-fit: cover;
  display: block;
}

.gray {
  filter: grayscale(100%);
}



@media (max-width: 1700px) {
 
}

@media (max-width: 1450px) {
  .textStack {
    flex: 0 1 380px; 
  }
  .imgSmall { width: 220px; height: 260px; }
  .imgTall { width: 220px; height: 400px; }
}


@media (max-width: 1250px) {
  .layoutWrapper {
    gap: 30px;
  }
  .textStack {
    flex: 0 1 300px; 
  }
  .imgSmall, .imgTall {
    width: 180px; 
  }
}


@media (max-width: 1024px) {
  .sectionContainer {
    padding: 120px 30px;
    padding-right: 30px;
  }

  .layoutWrapper {
    flex-direction: column;
    text-align: left; 
    gap: 40px;
    align-items: flex-start; 
  }

  .textStack {
    flex: 1;
    width: 100%;
    max-width: 502px;
  }

  .imageFlexContainer {
    width: 100%;
    justify-content: flex-start; 
    gap: 12px;
  }

  .imgSmall, .imgTall {
    width: 30%; 
    height: auto;
    aspect-ratio: 260/307; 
  }

  .imgTall {
    aspect-ratio: 260/480;
  }
}

@media (max-width: 550px) {
  .textStack {
    width: 100%;
    max-width: 320px; 
    flex: none;
  }

  .title { font-size: 20px; }
  .description { font-size: 14px; }

  .imgSmall, .imgTall {
    min-width: 90px;
  }
}