





.orderList {

  display: flex;

  flex-direction: column;

  width: 100%;

 

  gap: 32px;

}





.card {

  display: flex;

  flex-direction: column;

  background: #ffffff;

  padding: 16px 16px ;
max-width: 638px;
  gap: 32px;

 

}





.cardHeader {

  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  border-bottom: 1px solid #818686;

  padding-bottom: 16px;

}



.statusInfo {

  display: flex;

  gap: 15px;

  align-items: center;

}







.statusText h3 {

  margin: 0;

  font-size: 16px;

  font-weight: 600;

  color: #C4754E;

   font-family: var(--font-raleway);

 

}



.statusText p {

  margin: 4px 0 0 0;

  font-size: 16px;

  font-weight: 400;

  color: #414343;

  font-family: var(--font-raleway);

}



.orderMeta {

  display: flex;

  flex-direction: column;

  align-items: flex-end;

  gap: 4px;

}



.orderMeta p {

  margin: 0;

  font-size: 16px;

   font-weight: 400;

    font-family: var(--font-raleway);

  color: #2F362A;

}

.orderMeta span {

    color:#6E736A;

    font-size: 16px;

   font-weight: 400;

    font-family: var(--font-raleway);

    margin-left: 13px;

}



.itemsBox {

  display: flex;

  flex-direction: column;

  background-color: #F8F8F8;

  padding: 16px;

  gap: 16px;

}



.itemsHeader {

  display: flex;

  justify-content: space-between;

  align-items: center;

  font-size: 16px;

    font-weight: 400;

    font-family: var(--font-raleway);

  color: #414343;

}



.detailsBtn {

  display: flex;

  align-items: center;

  gap: 7px;

  cursor: pointer;

}



.productList {

  display: flex;

  flex-direction: column;

  gap: 8px;

 

}



.productRow {

  display: flex;

  gap: 16px;

}



.productImage {

  width: 85px;

  height: 85px;

  object-fit: cover;

}



.productInfo h4 {

  margin: 0;

  font-size: 16px;

  font-weight: 400;

   font-family: var(--font-raleway);

  color: #414343;

}



.productInfo p {

 margin: 4px 0 0 4px;

  font-size: 16px;

  color: #414343;

   font-weight: 400;

   font-family: var(--font-raleway);

}







.actionArea {

  display: flex;

  justify-content: flex-end;

 

}



.cancelBtn {

  display: flex;

  align-items: center;

  justify-content: center;

  border: 1px solid #C4754E;

  background: white;

  color: #C4754E;

  padding: 12px 40px;

 font-family: var(--font-montserrat);

  font-weight: 600;

  font-size: 16px;

  cursor: pointer;

  transition: all 0.2s ease;

}



.cancelBtn:hover {

  background: #C4754E;

  color: white;

}

.statusText .subInfo {

 

  font-size: 12px;  

  line-height: 1.2;

  color: #818686;    

  font-weight: 400;

  font-family: var(--font-raleway);



}

.moreText{

     font-size: 16px;

    font-family: var(--font-raleway);

  font-weight: 400;

   color: #818686;

}
@media (max-width: 480px) {
 
  .actionArea, 
  .orderMeta {
    display: none !important;
  }

  
  .mobileFooterContainer {
    display: flex;
    flex-direction: column;
    gap: 6px; 
    
    width: 100%;

    align-items: flex-start;
  }

  .mobileMetaRow {
    display: flex;
    flex-direction: row;
  
    align-items: center;
  }

  .mobileMetaRow p {
    font-size: 14px;
    color: #2F362A; 
      font-family: var(--font-raleway);
    font-weight: 400;
    margin: 0;
    min-width: 85px; 
  }

  .mobileMetaRow span {
    font-size: 14px;
    color: #6E736A; 
      font-family: var(--font-raleway);
    font-weight: 400;
  }

  
  .orderIdValue {
    color: #818686 !important;
  }
}


@media (min-width: 481px) {
  .mobileFooterContainer {
    display: none;
  }
}